.text-custom{
    @apply text-base font-bold text-blue-500;
}
.text-regular{
    @apply font-GeistRegular tracking-wider font-medium text-gray-400 text-xl
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking-text {
    animation: blink 2s infinite;
  }
  